.address {
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 25px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
}

.address__title {
  margin: 0;

  width: 140px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: #111111;
}

.address__item {
  width: 140px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-arial;
  font-style: normal;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .address {
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 57px;

    width: 625px;
  }

  .address__title {
    width: 200px;
    font-size: 20px;
    line-height: 25px;
  }

  .address__item {
    width: 155px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .address__bottom {
    display: block;
    margin-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: absolute;
    top: 95px;
    left: 40px;
    padding-top: 64px;
    padding-right: 90px;
    padding-bottom: 56px;
    padding-left: 76px;

    width: 404px;

    background-color: #ffffff;
  }

  .address__item {
    text-align: left;
  }
}
