.button {
  padding: 10px 0;

  display: inline-block;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;

  background-color: #68b738;
}
