.comparison {
  min-height: 337px;
}

@media (min-width: $tablet-width) {
  .comparison {
    background-color: $main-background;

    width: 100vw;
    margin-left: calc((100vw - 708px) / -2);
    min-height: 462px;
    }

    .comparison__wrapper {
      margin: 0 auto;

      width: 708px;
    }
}

@media (min-width: $desktop-width) {
  .comparison {
    width: 785px;
  }
}
