.comparison__wrapper {
  padding-bottom: 36px;
  width: 280px;
}

.comparison__image {
  margin-bottom: 29px;

  width: 280px;
  height: 240px;

  &--after {
    display: none;
  }
}

.comparison__range-colrols {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
}

.comparison__scale {
  padding: 3px 5px;

  width: 73px;

  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.comparison__bar {
  padding: 3px;

  width: 30px;

  background-color: $secondary-bacground;
  border-radius: 5px;
}

.comparison__toggle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;

  border-bottom: 1px solid transparent;

  cursor: pointer;

  &:hover {
    border-bottom: $border-bottom;
  }

  &:active {
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .comparison {
    position: relative;

    width: 100%;

    background-color: $main-background;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;

      background-color: #eaeaea;

      content: "";
    }
  }

  .comparison__wrapper {
    position: relative;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    width: 708px;
  }

  .comparison__picture {
    margin-top: -170px;
    margin-bottom: 16px;
  }

  .comparison__image {
    width: 354px;
    height: 517px;

    margin-bottom: 0;

    object-fit: none;

    &--before {
      object-position: 18px 0;
    }

    &--after {
      object-position: right;

      display: block;
    }
  }

  @media (-ms-high-contrast: active), (-ms-high-contrast: none) { // Для ie
    /* IE10+ specific styles go here */
    .comparison__picture {
      width: 354px;
      overflow: hidden;
    }

    .comparison__image {
      width: 690px;

      &--after {
        margin-left: -340px;
      }
    }
  }

  .comparison__range-colrols {
    margin-bottom: 32px;

    width: 570px;
  }

  .comparison__scale {
    position: relative;

    width: 430px;

    background-color: #dcdcdc;
    border: none;
  }

  .comparison__bar {
    display: none;
  }

  .comparison__toggle-bar {
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);

    width: 34px;
    height: 34px;

    background-color: rgb(104, 183, 56);
    box-shadow: inset 0 0 0 12px rgb(255, 255, 255), 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 12px rgb(255, 255, 255), 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-color: rgb(104, 183, 56);
      box-shadow: inset 0 0 0 1px rgb(104, 183, 56), inset 0 0 0 12px rgb(255, 255, 255), 0 4px 5px rgba(0, 0, 0, 0.25);
    }
  }

  .comparison__toggle {
    padding-bottom: 5px;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted #dcdcdc;
  }
}

@media (min-width: $desktop-width) {
  .comparison {
    width: 650px;

    background: none;

    &::before {
      width: calc(49.49vw - 50%);
    }
  }

  .comparison__wrapper {
    margin: 0;

    width: 100%;
  }

  .comparison__picture {
    margin-top: -190px;
    margin-bottom: 36px;
  }

  .comparison__image {
    width: 325px;
    height: 517px;

    object-fit: none;

    &--before {
      object-position: -40px 0;
    }
  }

  @media (-ms-high-contrast: active), (-ms-high-contrast: none) { // Для ie
    /* IE10+ specific styles go here */
    .comparison__picture {
      width: 325px;
      overflow: hidden;
    }

    .comparison__image {
      width: 690px;

      &--before {
        margin-left: -40px;
      }

      &--after {
        margin-left: -365px;
      }
    }
  }

  .comparison__scale {
    margin: 0 auto;
  }
}
