.example {
  background-color: $main-background;
}

.example__wrapper {
  @include align-mobile;

  padding-top: 18px;
}

.example__title {
  @include main-title;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 23px;

  width: 280px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__wrapper {
    padding: 0;

    width: 100%;
  }

  .example__title {
    margin: 0 auto;
    margin-bottom: 48px;

    width: 708px;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1220px;
  }

  .example__title {
    width: 1220px;
  }
}
