.example {
  padding-top: 18px;
  background-color: $main-background;
}

.example__wrapper {
  @include align-mobile;
}

.example__title {
  @include main-title;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 22px;

  width: 280px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__wrapper {
    padding: 0;

    width: 100%;
  }

  .example__title {
    margin: 0 auto;
    margin-bottom: 48px;

    width: 708px;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 8px;
  }

  .example__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;

    background-color: $main-background;
  }

  .example__title {
    margin-bottom: 75px;
    width: 1220px;
  }
}
