.footer__wrapper {
  @include align-mobile;

  background-color: $main-background;
}

.footer__link {
  padding-top: 37px;
  padding-bottom: 28px;

  display: block;

  text-align: center;

  border-bottom: $border-bottom;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding: 0 30px;
    padding-top: 60px;
    padding-bottom: 62px;

    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  .footer__logo {
    width: 192px;
  }

  .footer__link {
    padding: 0;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 60px 110px;
    width: 1220px;
  }
}
