.footer {
  background-color: $main-background;
}

.footer__wrapper {
  @include align-mobile;
}

.footer__link {
  padding-top: 37px;
  padding-bottom: 28px;

  display: block;

  text-align: center;

  border-bottom: $border-bottom;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding: 0 30px;
    padding-top: 58px;
    padding-bottom: 45px;

    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  .footer__logo {
    padding-top: 7px;

    width: 192px;
  }

  .footer__link {
    padding: 0;

    text-align: left;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 0 40px;
    padding-top: 56px;
    padding-bottom: 45px;
    width: 1220px;
  }
}
