.form-request__item {
  margin: 0;
  padding: 0;

  border: none;

  &--information {
    margin-bottom: 7px;
  }

  &--purpose {
    margin-bottom: 28px;
    padding-top: 11px;
    padding-left: 19px;
    padding-bottom: 3px;
    transform: translateX(-20px);

    width: 300px;

    border: 1px solid #d9d9d9;
  }

  &--contacts {
    margin-bottom: 13px;
  }

  &--comment {
    margin-bottom: 18px;
  }

  &--additionally {
    margin-bottom: 16px;
  }
}

.form-request__align {
  margin: 17px 0;
  display: flex;
  align-items: baseline;

  &--contacts {
    position: relative;
  }
}

.form-request__icon {
  fill: #222222;

  &--mail {
    position: absolute;
    top: 15px;
    right: 16px;
  }

  &--phone {
    position: absolute;
    top: 13px;
    right: 13px;
  }
}

.form-request__field {
  padding: 11px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);

  &--width {
    width: 100%;
  }

  /*&--width { // Скрывает стрелочки у полей с типом "number"
    -moz-appearance: textfield;
  }*/

  /*&--width::-webkit-outer-spin-button,
  &--width::-webkit-inner-spin-button {
    //display: none; <- Crashes Chrome on hover
    -webkit-appearance: none;
    margin: 0; //<-- Apparently some margin are still there even though it's hidden
  }*/

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  &::-ms-clear { //Скрывает крестик в input в ie
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}

.form-request__field:invalid ~ .form-request__icon {
  fill: #ff8282;
}

.form-request__field:valid:focus ~ .form-request__icon {
  fill: $secondary-bacground;
}

.form-request__caption {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: #222222;

  &--name {
    width: 72px;
  }

  &--weight {
    width: 128px;
  }

  &--age {
    width: 218px;
  }

  &--email {
    width: 96px;
  }

  &--phone {
    margin-right: 10px;
  }

  &--radio { // < Радокнопки
    position: relative;
    margin-bottom: 8px;
    padding-left: 45px;

    display: inline-block;

    vertical-align: middle;

    cursor: pointer;
  }

  &--radio::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;

    width: 30px;
    height: 30px;
    box-sizing: border-box;

    border-radius: 50%;
    border: 1px solid #cdcdcd;
    transition: all 0.2s linear;
    background-color: $secondary-bacground;
    background-clip: content-box;

    content: "";
  }

  &--radio:hover::before {
    border: 1px solid #bababa;
  }

  &--radio:active {
    opacity: 0.3;
  } // Радиокнопки />

  &--checkbox { // < Чекбоксы
    position: relative;
    margin-bottom: 8px;
    padding-left: 45px;

    display: inline-block;

    vertical-align: middle;

    cursor: pointer;
  }

  &--checkbox::before {
    position: absolute;
    top: -5px;
    left: 0;

    width: 29px;
    height: 27px;

    border: 1px solid #cdcdcd;

    content: "";
  }

  &--checkbox:hover::before {
    border: 1px solid #bababa;
  }

  &--checkbox:active {
    opacity: 0.3; // Чекбоксы />
  }
}


// < Радокнопки
.form-request__field--radio:focus + .form-request__caption--radio::before {
  border: 1px solid #bababa;
}

.form-request__field--radio:checked ~ .form-request__caption--radio::before {
  padding: 11px;
}

.form-request__field--radio:disabled + .form-request__caption--radio::before,
.form-request__field--radio:disabled + .form-request__caption--radio {
  opacity: 0.3;

  cursor: default;
}// Радиокнопки />

// < Чекбоксы
.form-request__field:focus + .form-request__caption--checkbox::before {
  border: 1px solid #bababa;
}

.form-request__field--checkbox:checked + .form-request__caption--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.form-request__field--checkbox:disabled + .form-request__caption--checkbox::before,
.form-request__field--checkbox:disabled + .form-request__caption--checkbox {
  opacity: 0.3;

  cursor: default;
}// Чекбоксы />

.form-request__title {
  position: relative;
  margin-bottom: 18px;
  padding-right: 24px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: $font-oswald;
  color: #111111;

  background-color: #ffffff;

  &--comment {
    margin-bottom: 35px;
  }

  &--additionally {
    margin-bottom: 25px;
  }

  &::after {
    position: absolute;
    top: 14px;
    height: 3px;

    width: 100vw;

    background-color: $secondary-bacground;

    z-index: -1;
    content: "";
  }

  &--contacts {
    &::after {
      transform: translateX(46px);

      z-index: 2;
    }
  }
}

.form-request__comment {

  padding: 15px;
  padding-top: 13px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: #444444;

  border: 1px solid #d9d9d9;

  &:hover {
     border: 1px solid #cdcdcd;
   }

   &:focus {
     outline: 2px solid #444444;
   }
}

.form-request_button {
  margin-bottom: 6px;

  width: 100%;

  font-size: 16px;
  line-height: 20px;

  border: none;
  cursor: pointer;
}

.form-request__requirement {
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: $font-arial;
  color: #444444;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form-request {
    padding: 0 40px;
  }

  .form-request__item {
    &--information {
      margin-bottom: 54px;

      border-bottom: none;
    }

    &--purpose {
      margin-bottom: 73px;
      padding-top: 19px;
      padding-left: 27px;
      transform: translateX(0);

      width: 602px;

      border: 1px solid #d9d9d9;
    }

    &--contacts {
      margin-bottom: 63px;
    }

    &--comment {
      margin-bottom: 60px;
    }

    &--additionally {
      margin-bottom: 30px;
    }
  }

  .form-request__title {
    margin-bottom: 60px;
    margin-left: -39px;
    padding-left: 39px;
    padding-right: 39px;

    font-size: 36px;
    line-height: 36px;

    background-color: #ffffff;

    &--contacts {
      margin-bottom: 58px;
    }

    &--comment {
      margin-bottom: 74px;
    }

    &--additionally {
      margin-bottom: 52px;
    }

    &::before {
      position: absolute;
      top: 22px;
      right: 0;
      transform: translateX(-23px);
      height: 3px;

      width: 100vw;

      background-color: $secondary-bacground;

      z-index: -1;
      content: "";
    }

    &::after {
      top: 22px;
    }
  }

  .form-request__caption {
    font-size: 20px;
    line-height: 20px;

    &--name {
      width: 75px;
    }

    &--weight {
      width: 120px;
    }

    &--age {
      width: 185px;
    }

    &--email {
      width: 100px;
    }

    &--phone {
      width: 110px;
    }

    &--radio { // < Радиокнопки
      margin-bottom: 17px;

      padding-left: 60px;
    }

    &--radio::before {
      padding: 20px;

      width: 40px;
      height: 40px;
    } // радиокнопки />

    &--checkbox { // < Чекбоксы
      margin-bottom: 20px;
      padding-left: 59px;
    }

    &--checkbox::before {
      top: -10px;

      width: 40px;
      height: 40px;
    }
  }

  .form-request__field {
    min-height: 30px; // для firefox

    font-size: 20px;
    line-height: 20px;
  }

  .form-request__comment {
    width: 600px;
    height: 145px;

    font-size: 20px;
    line-height: 30px;
    font-family: $font-oswald;
    text-transform: uppercase;
    color: #444444;
  }

  .form-request__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form-request__align {
    &--contacts {
      margin-bottom: 1px;
      width: 635px;
    }
  }

  .form-request__icon {
    &--mail {
      top: 21px;
      right: 23px;
    }

    &--phone {
      top: 18px;
      right: 21px;
    }
  }

  .form-request__checkbox {
    width: 286px;

    &:nth-child(2n) {
      margin-left: auto;
    }
  }

  .form-request_button {
    padding: 16px 0;
    margin-right: 55px;
    width: 285px;

    font-size: 20px;
    line-height: 20px;
  }

  .form-request__requirement {
    display: inline-block;

    font-size: 16px;
    vertical-align: top;
  }
}

@media (min-width: $desktop-width) {
  .form-request {
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-request__item {
    width: 570px;

    &--information {
      margin-bottom: 50px;
    }

    &--contacts {
      margin-bottom: 65px;
    }

    &--comment {
      margin-bottom: 64px;
      width: 1220px;
    }

    &--additionally {
      margin-bottom: 32px;

      width: 1220px;
    }

    &--purpose { // < Радиокнопки
      margin-top: 12px;
      margin-bottom: 68px;
      width: 540px;
    }
  }

  .form-request__wrapper {
    &--contacts {
      justify-content: space-between;

      width: 1220px;
    }
  }

  .form-request__align {
    &--contacts {
      width: 570px;
    }
  }

  .form-request__caption {
    &--name {
      width: 80px;
    }

    &--weight {
      width: 124px;
    }

    &--age {
      width: 193px;
    }
  }

  .form-request__comment {
    width: 1188px;
  }

  .form-request__checkbox {
    margin-right: 80px;

    width: 245px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .form-request_button {
    margin-right: 80px;

    width: 570px;
  }

  .form-request__requirement {
    margin-right: auto;
  }
}
