.form-request__item {
  margin: 0;
  padding: 0;

  border: none;

  &--information {
    border-bottom: $border-bottom;
  }

  &--purpose {
    padding-top: 15px;
    padding-bottom: 50px;

    border-bottom: $border-bottom;
  }

  &--contacts {
    margin-bottom: 10px;
  }
}

.form-request__align {
  display: flex;
  align-items: baseline;
}

.form-request__caption {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: #222222;

  &--name {
    width: 72px;
  }

  &--weight {
    width: 128px;
  }

  &--age {
    width: 218px;
  }

  &--email {
    width: 96px;
  }
}

.form-request__field {
  padding: 11px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;

  &--width {
    width: 100%;
  }
}

.form-request__title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: $font-oswald;
  color: #111111;
}

.form-request_button {
  width: 100%;

  border: none;
  cursor: pointer;
}

.form-request__requirement {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: $font-arial;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .form-request {
    padding: 0 40px;
  }

  .form-request__item {
    &--information {
      margin-bottom: 50px;

      border-bottom: none;
    }

    &--purpose {
      margin-bottom: 75px;

      border: 1px solid #d9d9d9;
    }

    &--contacts {
      margin-bottom: 45px;
    }

    &--comment {
      margin-bottom: 60px;
    }

    &--additionally {
      margin-bottom: 50px;
    }
  }

  .form-request__title {
    margin-bottom: 60px;

    font-size: 36px;
    line-height: 36px;
  }

  .form-request__caption {
    font-size: 20px;
    line-height: 20px;
  }

  .form-request__field {
    font-size: 20px;
    line-height: 20px;
  }

  .form-request__comment {
    width: 100%;
    height: 185px;

    font-size: 20px;
    line-height: 30px;
    font-family: $font-oswald;
    text-transform: uppercase;
    color: #444444;
  }

  .form-request__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form-request__align {
    &--contacts {
      width: 635px;
    }
  }

  .form-request__checkbox {
    width: 285px;
  }

  .form-request_button {
    padding: 17px 0;
    margin-right: 55px;
    width: 285px;

    font-size: 20px;
    line-height: 20px;
  }

  .form-request__requirement {
    display: inline-block;

    font-size: 16px;
    vertical-align: middle;
  }
}

@media (min-width: $desktop-width) {
  .form-request {
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-request__item {
    width: 570px;

    &--comment {
      width: 1220px;
    }

    &--additionally {
      width: 1220px;
    }
  }

  .form-request__wrapper {
    &--contacts {
      justify-content: space-between;

      width: 1220px;
    }
  }

  .form-request__align {
    &--contacts {
      width: 570px;
    }
  }

  .form-request_button {
    margin-right: 80px;
    width: 570px;
  }

  .form-request__requirement {
    margin-right: auto;
  }
}
