.gift {
  margin-top: 40px;

  text-align: center;

  background-color: #71b548;
}

.gift__description {
  width: 165px;
  margin: 0 auto;
  padding-top: 185px;
  padding-bottom: 40px;

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  font-family: $font-arial;
}
