.how-work__wrapper {
  @include align-mobile;
  margin-bottom: 45px;
}

.how-work__title {
  margin-top: -3px;

  @include main-title;
}

.how-work__list {
  list-style: none;
}

.how-work__item {
  position: relative;

  padding-left: 40px;

  &--composition {
    &::before {
      position: absolute;
      top: -2px;
      left: -40px;

      width: 60px;
      height: 60px;

      background-color: #68b738;
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-position: center;

      content: "";
    }
  }

  &--shape {
    &::before {
      position: absolute;
      top: -2px;
      left: -40px;

      width: 60px;
      height: 60px;

      background-color: #68b738;
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-position: center;

      content: "";
    }
  }

  &--nutrition {
    &::before {
      position: absolute;
      top: -2px;
      left: -40px;

      width: 60px;
      height: 60px;

      background-color: #68b738;
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-position: center;

      content: "";
    }
  }

  &--time {
    &::before {
      position: absolute;
      top: -2px;
      left: -40px;

      width: 60px;
      height: 60px;

      background-color: #68b738;
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-position: center;

      content: "";
    }
  }
}

.how-work__description {
  margin-bottom: 26px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-arial;
  color: #444444;
}
