.product-card {
  padding: 0 20px;
  padding-bottom: 25px;

  display: flex;
  flex-wrap: wrap;

  border-bottom: $border-bottom;
}

.product-card__image {
  width: 140px;
  height: 144px;
}

.product-card__content {
  width: 140px;

  &--more {
    position: relative;

    width: 280px;

    &::before {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);

      width: 30px;
      height: 30px;

      background-image: url("../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      opacity: 0.2;

      content: "";
    }
  }
}

.product-card__title {
  margin-top: 22px;
  margin-bottom: 12px;

  width: 75px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
}

.product-card__link {
  color: #111111;
  text-decoration: none;
}

.product-card__info {
  width: 100%;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-arial;
  text-transform: none;
  color: #444444;

  border-collapse: collapse;
}

.product-card__value {
  padding: 0;
}

.product-card__value--right {
  text-align: right;
}

.product-card__button {
  margin-top: -5px;
  padding: 10px 0;

  width: 100%;

  font-size: 16px;
  line-height: 20px;
  text-align: center;

  &--more {
    color: #444444;
    background-color: $main-background;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

.product-card--more {
  padding-top: 58px;
  padding-bottom: 25px;

  text-align: center;
}

.product-card__title--more {
  margin-bottom: 9px;

  width: 280px;

  color: #111111;
}

.product-card__description {
  margin: 0;
  margin-bottom: 25px;

  font-size: 12px;
  line-height: 16px;
  font-family: $font-arial;
  text-transform: none;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    margin-top: 139px;
    margin-bottom: 0;
    padding: 163px 37px;
    padding-bottom: 40px;

    flex-direction: column;
    width: 250px;

    border-bottom: none;

    background-color: #f2f2f2;

    &--more {
      background-color: transparent;
      border: 1px solid rgba(205, 205, 205, 0.5);
    }
  }

  .product-card__image {
    position: absolute;
    left: 50%;
    bottom: 305px;
    transform: translateX(-50%);

    &--small {
      width: 324px;
      height: 174px;
    }

    &--big {
      width: 342px;
      height: 208px;
    }
  }

  .product-card__content {
    width: auto;

    &--more {
      &::before {
        top: -106px;

        width: 60px;
        height: 60px;

        background-image: url("../img/icon-plus.svg");
      }
    }
  }

  .product-card__title {
    margin: 0 auto;
    margin-bottom: 22px;

    width: 130px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;

    &--more {
      margin-bottom: 30px;

      width: 145px;
    }
  }

  .product-card__info {
    margin-bottom: 38px;

    font-size: 16px;
    line-height: 16px;
  }

  .product-card__value {
    padding: 7px 0;

    border-bottom: $border-bottom;
  }

  .product-card__description {
    margin: 0 auto;
    margin-bottom: 93px;

    width: 170px;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    margin-top: 140px;
    width: 175px;
  }

  .product-card__image {
    &--small {
      width: 245px;
      height: 172px;
    }

    &--big {
      width: 245px;
      height: 208px;
    }
  }
}
