.promo {
  margin-bottom: 22px;
}

.promo__wrapper {
  margin: 0 auto;

  width: 320px;

  text-align: center;
}

.promo__background {
  position: relative;

  margin-bottom: 135px;
  padding-top: 30px;
  padding-bottom: 1px;

  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    top: 167px;
    left: 20px;

    width: 280px;
    height: 271px;

    background-image: url("../img/index-can-mobile@1x.png");

    content: "";
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: $font-oswald;
  color: #ffffff;
}

.promo__description {
  margin-bottom: 165px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__button {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    padding-bottom: 506px;

    width: 768px;

    text-align: left;
  }

  .promo__background {
    margin-left: 118px;
    margin-bottom: 46px;

    width: 430px;

    background: none;

    &::before {
      top: 230px;
      left: -90px;
      z-index: -1;

      width: 709px;
      height: 609px;

      background-image: url("../img/index-can-tablet.jpg");
    }
  }

  .promo__title {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
  }

  .promo__description {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .promo__button {
    margin-left: 120px;
    padding: 16px 0;

    width: 245px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    position: relative;
    padding-top: 23px;
    padding-bottom: 250px;

    width: 1300px;

    &::before {
      position: absolute;
      top: -170px;
      right: -70px;
      //left: 500px;
      z-index: -2;

      width: 720px;
      //width: 100vw;
      height: 696px;

      background-color: #64a83b;
      background-image: url("../img/index-background-desktop.jpg");
      background-repeat: no-repeat;

      content: "";
    }
  }

  .promo__background {
    margin-left: 120px;

    &::before {
      top: -50px;
      left: 370px;
      z-index: -1;

      width: 552px;
      height: 499px;

      background-image: url("../img/index-can-desktop.png");
    }
  }

  .promo__button {
    margin-left: 120px;
  }
}
