.promo {
  margin-bottom: 61px;
  padding-bottom: 1px;
}

.promo__background {
  position: relative;

  margin-bottom: 135px;
  padding-top: 30px;
  padding-bottom: 1px;

  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.promo__wrapper {
  position: relative;
  margin: 0 auto;

  width: 320px;

  text-align: center;

  &::before {
    position: absolute;
    top: 137px;
    left: 20px;

    width: 280px;
    height: 271px;

    background-image: url("../img/index-can-mobile@1x.png");

    content: "";

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 280px auto;
    }
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: $font-oswald;
  color: #ffffff;
}

.promo__description {
  margin-bottom: 125px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__button {
  margin: 0 auto;
  transform: translateY(175px);

  display: block;
  width: 280px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 0;
    padding-bottom: 481px;
  }

  .promo__background {
    margin-bottom: 46px;

    background: none;
  }

  .promo__wrapper {
    margin: 0 auto;
    padding: 0 30px;

    width: 708px;

    text-align: left;

    &::before {
      top: 200px;
      left: 30px;
      z-index: -1;

      width: 709px;
      height: 609px;

      background-image: url("../img/index-can-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
        background-size: 709px auto;
      }
    }
  }

  .promo__title {
    margin-bottom: 41px;
    margin-left: 88px;

    width: 430px;

    font-size: 60px;
    line-height: 60px;
    color: #111111;
  }

  .promo__description {
    margin-bottom: 47px;
    margin-left: 88px;

    width: 295px;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .promo__button {
    transform: translateY(0);
    margin-left: 88px;
    padding: 16px 0;

    width: 245px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-bottom: 268px;

    //overflow-x: hidden;
  }

  .promo__background {
    position: relative;
    margin: 0 auto;

    width: 1220px;

    &::before {
      position: absolute;
      top: -175px;
      //right: 71px;
      left: 610px;
      z-index: -2;

      //width: 720px;
      width: 49.47vw;
      height: 696px;

      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: left;
      background-repeat: no-repeat;

      content: "";

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .promo__wrapper {
    padding: 0 40px;
    padding-top: 17px;

    width: 1220px;

    &::before {
      top: -60px;
      left: 450px;
      z-index: -1;

      width: 552px;
      height: 499px;

      background-image: url("../img/index-can-desktop@1x.png");
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: 552px auto;
      }
    }
  }

  .promo__title {
    margin-left: 40px;
  }

  .promo__description {
    margin-left: 40px;
    margin-bottom: 53px;
  }

  .promo__button {
    margin-left: 40px;
  }
}
