.selection-program__wrapper {
  @include align-mobile;
}

.selection-program__title {
  @include main-title;

  margin-top: 15px;
  margin-bottom: 26px;
}

.selection-program__description {
  margin-bottom: 24px;
  width: 240px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .selection-program {
    margin-bottom: 39px;
  }

  .selection-program__wrapper {
    padding: 0 30px;
    padding-bottom: 20px;

    width: 708px;
  }

  .selection-program__title {
    margin-top: 30px;
    margin-bottom: 55px;

    font-size: 60px;
    line-height: 60px;
  }

  .selection-program__description {
    margin-left: 40px;
    margin-bottom: 48px;

    width: 330px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    margin-bottom: 72px;
  }

  .selection-program__wrapper {
    padding: 0 40px;

    width: 1220px;
  }

  .selection-program__description {
    margin-left: 0;
    margin-bottom: 52px;
  }

  .selection-program__title {
    margin-top: 13px;
  }
}
