.site-list {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $font-oswald;
  color: #111111;
  list-style: none;
  text-align: center;
}

.site-list__link {
  padding-top: 23px;
  padding-bottom: 22px;

  display: block;
  width: 100%;

  color: #111111;
  text-decoration: none;

  border-bottom: $border-bottom;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;

    width: 460px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .site-list__link {
    padding: 7px 0;
    border-bottom: 0;

    &--active {
      border-bottom: 2px solid $secondary-bacground;
    }

    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }

    &--active:hover,
    &--active:active {
      color: #111111;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;

    font-size: 20px;
  }

  .site-list__link {

    &--color {
      color: #ffffff;
    }

    &--color:hover{
      color: rgba(255, 255, 255, 0.6);
    }

    &--color:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &--active-white {
      border-bottom: 2px solid #ffffff;
    }

    &--active-white:hover,
    &--active-white:active {
      color: #ffffff;
    }
  }
}
