.stats {
  margin-bottom: 30px;
}

.stats__description {
  width: 279px;
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-arial;
  color: #444444;
}

.stats__cost-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-oswald;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .stats {
    padding-bottom: 232px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .stats__description {
    margin-bottom: 45px;
    width: 680px;

    font-size: 16px;
    line-height: 24px;
  }

  .stats__cost {
    width: 190px;
  }

  .stats__cost-description {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    padding: 55px 0;

    width: 435px;

    background-color: $main-background;
  }
}
