.stats {
  margin-bottom: 30px;
}

.stats__description {
  width: 279px;
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-arial;
  color: #444444;
}

.stats__cost-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-oswald;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .stats {
    margin: 0 auto;
    padding-bottom: 223px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
  }

  .stats__description {
    margin-bottom: 45px;
    width: 680px;

    font-size: 16px;
    line-height: 24px;
  }

  .stats__cost {
    width: 190px;
  }

  .stats__cost-description {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .stats__amount {
    margin-top: 8px;
    display: inline-block;

    vertical-align: middle;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    margin: 0;
    margin-left: 40px;
    padding: 55px 0;

    width: 610px;
  }

  .stats__description {
    margin-bottom: 58px;

    width: 435px;
  }

  .stats__cost {
    width: 330px;
  }

  .stats__cost-description {
    text-align: left;
  }

  .stats__amount {
    margin-top: -7px;
    margin-left: 60px;
  }
}
